
* {
    --webkit-box-siszing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --alternative-color: #1787e0;
    --main-transition: 0.3s;
    --section-padding: 100px;
    --background-color: #ececec;
    --text-color: #777;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --gradient: linear-gradient(142deg, rgba(18, 96, 157, 1) 10%, rgba(20, 96, 157, 1) 10%, rgba(23, 135, 224, 1) 26%, rgba(0, 188, 212, 1) 43%);;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.main-title {
    font-size: 35px;
    padding: 10px 20px;
    border: 2px solid black;
    margin: 80px auto ;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.main-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translatey(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translatey(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.main-title:hover {
    border-color: white;
    color: white;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-fill 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-fill 0.5s linear forwards;
}
header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
}
header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }
}
header .container .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    header .container .main-nav {
        margin: auto;
    }
}
header  .main-nav li a {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: black;
    position: relative;
    height: 72px;
    overflow: hidden;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    header  .main-nav li a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
header  .main-nav li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
header  .main-nav li a:hover::before {
    width: 100%;
    left: 0;
}
header  .main-nav li a:hover {
    background-color: #eee;
}
.landing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.landing::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: var(--background-color);
    transform: skewy(-6deg);
    transform-origin: top left;
    z-index: -1;
}
.landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.landing .container .info {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .container .info {
        text-align: center;
    }
}
.landing .container .info h1 {
    font-size: 40px;
    letter-spacing: -2px;
}
@media (max-width: 991px) {
    .landing .container .info h1 {
        font-size: 28px;
    }
}
.landing .container .info p {
    line-height: 1.6;
    color: var(--text-color);
    font-size: 23px;
    margin: 5px 0 0;
    max-width: 400px;
}
.landing .container .info .resume {
    position: relative;
    font-size: 22px;
    width: 150px;
    color: black;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: var(--main-transition);
}
@media screen and (max-width: 990px) {
    .landing .container .info .resume {
        margin: 0 auto;
    }
}
.landing .container .info .resume::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background: var(--gradient);
    z-index: -1;
    transition: var(--main-transition);
}
.landing .container .info .resume:hover {
    border: 0;
    color: white;
}
.landing .container .info .resume:hover::before {
    left: 0;
}
@media (max-width: 991px) {
    .landing .container .info p {
        margin: 0 auto;
        font-size: 18px;
    }
}
.landing .container .img img {
    border-radius: 50%;
    position: relative;
    max-width: 600px;
    animation: up-and-down 5s linear infinite;
}
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about .container .img {
    background-image: url(../imgs/mmm.jpg);
    width: 380px;
    height: 380px;
    background-size: contain;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.6);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
.about p {
    color: var(--text-color);
    font-size: 20px;
    max-width: 400px;
    letter-spacing: .8px;
    line-height: 26px;
}
.experience {
    text-align: center;
    font-weight: 800;
    font-size: 28px;
    padding-top: 4rem;
}
.experience .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 10px;
}
.experience .logos img {
    max-width: 200px;
}
.skills {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
}
.skills-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    text-align: center;
    gap: 15px;
}
.skill {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    transition: var(--main-transition);
}
.skill:hover {
    transform: scale(1.1);
}
.skill img {
    max-width: 50px;
    object-fit: contain;
}
.projects {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    margin: 0 auto;

}
.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 30px;
}
.projects .container .box {
    position: relative;
    background-color: #eee;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
    transition: var(--main-transition);
}
.projects .container .box:hover {
    transform: translateY(-20px);
}
.projects .container .box img {
    align-items: center;
    max-width: 300px;
    max-height: 550px;
}
.projects .container .box h2 {
    margin: 0;
    padding: 0;
}
.projects .container .box p {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
    max-width: 300px;
}
.projects .container .box .link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects .container .box .link a {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    color: black;
    font-size: 18px;
    letter-spacing: -0.3px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    transition: var(--main-transition);
}
.projects .container .box .link a:hover {
    color: white;
    border: none;
}
.projects .container .box .link a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: var(--gradient);
    z-index: -1;
    transition: var(--main-transition);
}
.projects .container .box .link a:hover:before {
    left: 0;
}
.projects .container .box .link p {
    padding: 0;
    margin: 0;
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .contact-left {
    max-width: 400px;
    background: var(--background-color);
    padding: 0 2rem 1rem 1rem;
}
.contact .contact-left h4 {
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 2rem;
}
.contact .contact-left .socials {
    display: flex;
    gap: 10px;
    margin-top: 2rem;
}
.contact .contact-left .socials a i {
    background: var(--gradient);
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
.contact .contact-right {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    padding: 2rem 1rem 1rem 1rem;
}
.contact .contact-right label {
    color: #fff;
    font-size: 22px;
}
.contact .contact-right input {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    outline: 0;
    border: 0;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 10px 0;
}
::-webkit-input-placeholder {
    color: black;
    opacity: .7;
}
.contact .contact-right textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: none;
    border: none;
    outline: none;
    color: black;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
}
.contact .contact-right button {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: var(--main-color);
    font-weight: 600;
    width: 200px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}
footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: var(--background-color);
}
footer small {
    font-weight: 600;
    font-size: 18px;
}
footer small span {
    color: var(--main-color);
}
@keyframes up-and-down {
    0% , 100%{
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes left-fill {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 0;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-fill {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 0;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(-10px);
    }
}
@keyframes animate {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}
@media (max-width: 991px) {
    .landing .container .img {
        display: none;
    }
}
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
